

.navbar-blue li>a:hover, .navbar-blue li>a:focus, .navbar-blue .open, .navbar-blue .open>a, .navbar-blue .open>a:hover, .navbar-blue .open>a:focus {
   background-color:aliceblue;
   color:blue;
}

/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
   color:blue;
}
    
.jumbotron {
  background-color:aliceblue;
}
#login{
  background-color:aliceblue;
  
}
#login1{
  background-color:blue;
  
}